aiohttp==3.7.4.post0
astroid==2.4.2
async-timeout==3.0.1
attrs==20.3.0
beautifulsoup4==4.9.3
cats==0.2.0
certifi==2020.12.5
chardet==4.0.0
colorama==0.4.4
config==0.5.0.post0
discord==1.0.1
discord.py==1.6.0
idna==2.10
isort==5.7.0
lazy-object-proxy==1.4.3
mccabe==0.6.1
multidict==5.1.0
numpy==1.19.5
praw==7.2.0
prawcore==2.0.0
pylint==2.6.0
random-cat==1.0.1
requests==2.25.1
six==1.15.0
soupsieve==2.2.1
toml==0.10.2
typing-extensions==3.7.4.3
update-checker==0.18.0
urllib3==1.26.4
websocket-client==0.58.0
wikipedia==1.4.0
wrapt==1.12.1
yarl==1.6.3